#!/bin/sh

cd {{ djangoapp_base_dir }}

source {{ djangoapp_virtualenv_dir }}/bin/activate

exec celery flower -A {{ djangoapp_project_module }} \
    --loglevel=debug \
    --basic_auth={{ flower_user }}:{{ flower_pass }} \
    {% if flower_persistent_mode %}--persistent=True --db={{ flower_db_file }}{% endif %}
